body, html {
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: georgia, sans-serif;
  margin: 0;
  padding: 0;
}

#meny {
    background-color: gray;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

p {
  margin-left: 15px;
}

.dropdown-meny {

}

#innhold {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin: 0;
}

.dropdown-meny ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.dropdown-meny ul li {
    float: left;
}

.dropdown-meny a {

    display: block;
    text-align: center;
    font-size: 18px;
    padding: 14px 20px;
    text-decoration: none;

}

.dropdown-meny a:hover {
  background-color: orange;
}

#footer {
  text-align: center;
}

/* Denne siden er utviklet av Fredrik Hulaas, sist endret 09.04.2018.
  Denne siden er kontrollert av Ola Bredviken. sist gang 09.04.2018 */
