body, html {
  height: 98%;
  width: 100%;
  font-family: georgia, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EBF4FB;
}

aside {
  margin-left: 30px;
}

#ramme {
  margin-bottom: 10px;
}

.rammeBrukere {
  margin-left: 25px;
}

input[type="text"] {
  height: 20px;
  width: 185px;
  margin: 7px 0 7px 0;
}

input[type="submit"] {
  height: 30px;
  font-size:12px;
}

select {
  height: 30px;
  width: 189px;
}
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin-top: 15px;
    font-size: 10px;
    table-layout: fixed;
}

table th, table td{
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

table tr:nth-child(odd){
    background-color: white;
}

table tr:hover {
    background-color: #ddd;
}

table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c7d4e5;
}
