/*
Denne siden er utviklet av Fredrik Hulaas og Fredrik Ravndal. Sist endret 23.01.2018
Denne siden er kontrollert av Ola Bredviken, Håvard Betten. Sist gang 26.01.2018
 */

body, html {
    height: 100%;
    width: 100%;
    background-color: white;
    font-family: georgia, sans-serif;
    margin: 0;
    padding: 0;
}


/*
*** header including logo.html
*/
.logosection {
    width: 100%;
    height: 80px;
    margin: 0 auto 0 auto;
    background-image: url("../../picture/default/background-desktop.png");
    background-repeat: no-repeat;
    background-position: top;
}


#logo {
    width: 230px;
    height: 60px;
    margin: 10px 0 0 20%;
}

#mobilelogo {
    display: none;
}


/*
*** nav including menu.html
*/
.dropbtn {
    display: none;
}

#tilbake {
    display: none;
}

#loggUtMeny {
    float: right;
}

#faq {

    background-color: lightblue;
}

.dropdown-content {




}

.dropdown-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.dropdown-content ul li {
    float: left;
}

.dropdown-content a {

    display: block;
    text-align: center;
    font-size: 18px;
    padding: 14px 20px;
    text-decoration: none;

}



.dropdown-content a:hover {
    background-color: orange;
}

/*
*** Her begynner alle funksjoner
 */

#ytre {
    width: 100%;
    display: flex;
    background-color: #EBF4FB;
}


#kolonne1 {
    width: 40%;
    margin-left: 15px;
}

#kolonne1Element1 {
    display: table;
    margin: 0 auto 0 auto;

}

.rullGardin {
    width: 70%;
    height: 25px;
}

#buttonMeldPaa {
    width: 70%;
    margin: 10px 0 0 0;
    font-family:Verdana, Geneva, sans-serif;
    cursor: pointer;
    padding: 5px 10px 6px 10px;

}

#headerOpprett {
    margin: 30px 0 0 0;
}

#arrangementNavn {
    width: 70%;
    height: 25px;
    font-size: 14px;
}

#arrangementBeskrivelse {
    width: 70%;
    height: 25px;
    font-size: 14px;
}

#arrangementFra {
    width: 70%;
    height: 25px;
    font-size: 14px;
}

#arrangementTil {
    width: 70%;
    height: 25px;
    font-size: 14px;
}

#buttonOpprett {
    width: 72%;
    margin: 15px 0 20px 0;
    font-family:Verdana, Geneva, sans-serif;
    cursor: pointer;
    padding: 5px 10px 6px 10px;
}


#form {


}

#kolonne2 {
    width: 65%;
}

#rammeAktiveArrangementer {
    margin: 30px 0 0 0;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    width: 97%;
}

table th, table td{
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

table tr:nth-child(odd){
    background-color: white;
}

table tr:hover {
    background-color: #ddd;
}

table th{
    word-wrap: break-word;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c7d4e5;

}

input[type=text]:focus {
    background-color: yellow;
}
input[type=search]:focus {
    background-color: yellow;
}


#footerheader {
    background-color: white;
    text-align: center;
}

#utvikletAv {
    text-align: center;
    font-size: 15px;
    font-family: Arial;
}
