/*
Denne siden er utviklet av Fredrik Hulaas og Fredrik Ravndal. Sist endret 23.01.2018
Denne siden er kontrollert av Ola Bredviken, Håvard Betten. Sist gang 26.01.2018
 */

body, html {
    height: 100%;
    width: 100%;
    background-color: white;
    font-family: georgia, sans-serif;
    margin: 0;
    padding: 0;
}

#parent {
    display: flex;
}

#child1 {
    flex: 1;
    width: 65%;
}

#child2 {
    width: 35%;
}

.menuIkkeLoggetInn {
    display: none;
}

#loggInnForm {
    display: none;
}


/*
*** header including logo.html
*/
.logosection {
    width: 100%;
    height: 80px;
    margin: 0;
    background-image: url("../../../picture/default/background-desktop.png");
    background-repeat: no-repeat;
    background-position: top;


}


#logo {
    width: 80%;
    height: 60px;
    margin: 10px 0 0 20px;

}



/*
*** nav including menu.html
*/

#faq {


}

.dropbtn {
    background-color: coral;
    color: white;
    width: 100%;
    height: 80px;
    font-size: 22px;
    border: none;
    cursor: pointer;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

.dropdown-content ul {
    margin: 0;
    padding: 0;
}

.dropdown-content li {
    list-style-type: none;
}

.dropdown-content li:nth-child(odd) {
    background-color: #aeddf9;
}

.dropdown-content li:nth-child(even) {
    background-color: #EBF4FB;
}


.dropdown-content a {

    display: block;

    font-size: 18px;
    padding: 14px 20px;
    text-decoration: none;

}

#homepage {


}

.dropdown-content a:hover {
    background-color: orange;
}

.show {display:block;}

/*
*** Her begynner alle funksjoner
 */

#ytre {
    width: 100%;
    background-color: #EBF4FB;
    margin-bottom: 10px;
}

#ytre:after {
    display: block;
    clear: both;
    float: none;
    content: "";


}

input[type="datetime-local"]{
  width: 50%;
  height: 25px;
  margin-left: 15px;
}

input[type="text"]{
  width: 60%;
  height: 25px;
  margin-left: 15px;
}

th {
  font-size: 10px;
  background-color: #c7d4e5;
}

table{
  width: 90%;
  margin-left: 12px;
  margin-bottom: 10px;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

table tr:nth-child(odd){
    background-color: white;
}

table tr:hover {
    background-color: #ddd;
}

td {
  font-size: 10px;

}

select {
  margin-left: 15px;
}

button {
  height: 40px;
}

#kolonne2 {
  width: 100%;
}
#buttonOpprett {
  margin: 15px;
}

#buttonMeldPaa, #rullgardinID {
  margin-left: 15px;
}

#kolonne1 {
    width: 370px;
}



/*
*** Hovedinnhold
 */

main {
  width: 100%;
  background-color: #EBF4FB;
}

article {

  display: table;
  margin: 0 auto 0 auto;
  width: 90%;
}

h1 {

  margin: 0;
  padding: 20px 0 10px 10px;

}

p {
  margin: 0;
  padding: 20px 0 10px 10px;
}


/*
*** footer including footer.html
 */
#footerheader {
  font-size: 25px;
  font-family: Arial;
  text-align: center;
}

#utvikletAv {
  margin: 0;
  font-size: 15px;
  font-family: Arial;
  text-align: center;
}
