body, html {
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: georgia, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EBF4FB;
}

.logosection {
  width: 100%;
  height: 80px;
  margin: 0 auto 0 auto;
  background-image: url("../../picture/default/background-desktop.png");
  background-repeat: no-repeat;
  background-position: top;
}

#logo {
  width: 230px;
  height: 60px;
  margin: 10px 0 0 20%;
}

#nav2 {
  display: block;
}

#nav3 {
  margin-left: 5%;
}

.dropbtn {
  display: none;
}

#tilbake {
  display: none;
}

#loggUtMeny {
  float: right;
}

#faq {
  border-bottom: 1px solid black;
  background-color: lightblue;
}

.dropdown-content {
}

.dropdown-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.dropdown-content ul li {
  float: left;
}

.dropdown-content a {

  display: block;
  text-align: center;
  font-size: 18px;
  padding: 14px 20px;
  text-decoration: none;

}

#homepage {
  margin-left: 150px;
}

.dropdown-content a:hover {
  background-color: orange;
}

#content {
  width: 30%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
}

#footerheader {
    background-color: #EBF4FB;
    text-align: center;
    margin-top: 15%;
}

#utvikletAv {
    text-align: center;
    font-size: 15px;
    font-family: Arial;
}
