/* Denne siden er laget av Håvard Betten og Ola Bredviken, siste gang endret 25.01.2018. */
/* Denne siden er kontrollert av Ola bredviken og Fredrik Hulaas, siste gang 25.01.2018. */

body, html {
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: georgia, sans-serif;
  margin: 0;
  padding: 0;
}


/*
*** header including logo.html
*/
.logosection {
  width: 100%;
  height: 80px;
  margin: 0 auto 0 auto;
  background-image: url("../../../picture/default/background-desktop.png");
  background-repeat: no-repeat;
  background-position: top;
}


#logo {
  width: 230px;
  height: 60px;
  margin: 10px 0 0 20%;
}



/*
*** nav including menu.html
*/

.dropbtn {
  display: none;
}

#tilbake {
  display: none;
}

#loggUtMeny {
  float: right;
}

#faq {

  background-color: lightblue;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.dropdown-content {




}

.dropdown-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.dropdown-content ul li {
  float: left;
}

.dropdown-content a {

  display: block;
  text-align: center;
  font-size: 18px;
  padding: 14px 20px;
  text-decoration: none;

}

.dropdown-content a:hover {
  background-color: orange;
}

.menuIkkeLoggetInn {
  display: none;
}

.menuIkkeLoggetInn {
  display: none;
}

.formtop {
  display: none;
}

/*
*** Hovedinnhold
 */



main {
  width: 100%;
  background-color: #EBF4FB;
}

article {

  display: table;
  margin: 0 auto 0 auto;
  width: 60%;
}

h1 {

  margin: 0;
  padding: 20px 0 10px 10px;

}

p {
  margin: 0;
  padding: 20px 0 10px 10px;
}

/*
*** footer including footer.html
 */
#footerheader {
  font-size: 25px;
  font-family: Arial;
  text-align: center;
}

#utvikletAv {
  font-size: 15px;
  font-family: Arial;
  text-align: center;
}



